body {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}
section {
  line-height: 25px;
}

.contact_info {
  display: flex;
}

.contact_info img {
  width: 50%;
}

.contact_info ul {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact_info ul li {
  align-self: flex-start;
}

.contact_info ul li a {
  color: #000;
}

hr {
  margin: 5% 0;
}

h3 {
  background-color: #0047AB;
  text-align: center;
  color: #fff;
  padding: 1% 0;
}