body {
  width: 80%;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  align-self: flex-start;
  list-style: none;
}

nav ul li a {
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
}

.contact_info {
  display: flex;
}

main img {
  width: 50%;
}

main div {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 28px;
}

hr {
  margin: 3% 0;
}

h3 {
  background-color: #0047AB;
  text-align: center;
  color: #fff;
  padding: 1% 0;
}

footer {
  width: 40%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: #0047AB;
}

footer div img {
  width: 5rem;
}
